* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

#is-not-admin {
  display: none;
}

#loggedOut-account, #loggedOut-logout, #loggedOut-login {
  display: none;
}
#logo-head{ 
  background-color: white;
  width: 105%;
  position: sticky;
  top: 0;
  display: block;
}
header {
  font-family: 'Montserrat', sans-serif;	
  height:100px;
  padding:50px 6% 0 6%;
}
body{
  background-color: #2c2c3d;
}
footer{
  background-color: #2c2c3d; 
}
.nav-bar a {
  position: sticky;
  top: 0;
  display:inline-block;
  text-transform:uppercase;
  text-decoration:none;
  font-size:0.95em;
  padding:4px 18px;
  color: black;
}
.logo{ 
  color: black;
}
.bg-image {
  background-image: url('./images/brick.jpg');
  min-height: 431px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.img1 {
  background-image: url(./images/brick.jpg);
  background-size: cover;
  margin-left: 4%;
  margin-right: 4%;
}
.FP-logo{
  text-align: center;
  color: red;
  font-weight: 700;
  color: black;
  background-color: goldenrod;
  width: 353px;
  height: 353px;
  margin: 37px auto 0;
  border-radius: 50%;
}
.image-row{
  display: flex;
  justify-content: flex-start;
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto 0 0 ;
  margin-left: 4%;
  margin-right: 4%;
  width: 720px;
}
.text-container{ 
  background-color: #f2f2f2;
  max-width: 33.33333%;
  font-family: Open sans-serif, sans-serif;
  line-height: 1.6;

}
.our-title{
  text-align: center;
  margin-top: 45px;
  margin-left: 22px;
  margin-right: 22px;
}
.our-text{
  margin: 25px 22px 44px;
  text-align: center;
  font-style: italic;
}
.img2{ 
  background-image: url(./images/quiche.jpg);
  max-width: 58.66666%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 0 66.66666%
}
.img3{ 
  background-image: url(./images/udon.jpg);
  max-width: 58.66666%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 0 66.66666%
}
.img4{ 
  background-image: url(./images/eggs.jpg);
  max-width: 58.66666%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 0 66.66666%
}
.img5{
  background-image: url(./images/coffee.jpg);
  max-width: 58.66666%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 0 66.66666%
}
.logo-image{
  margin-top: 90px;
}
input, 
button {
    border: 1px solid black;
}
.small-product h1 {
  font-size: 1.5em;  
}
.small-product img {
  width: 250px;
  height: 308px;
}
.profile-image {
  width: 309px;
  height: 327px;
  margin: 0 auto 0 0;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.product{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: #e5e5e5; */
}
.product-img { 
  width: 566px;
  height: 513px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.prod-details{
  width: 466px;
  min-height: 370px;
  background-image: none;
  margin: -65px auto;
  text-align: center;
  background-color: #e5e5e5;
  justify-content: center;
  padding: 55px 45px 45px 55px;
  line-height: 1.6;
}
.btn{
  color: #ffffff !important;
  background-color: #e00b4c !important;
  border-width: 0px;
  border-style: solid;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 22px auto 0;
  padding: 10px 38px 10px 37px;
}
.account-container{ 
  display: grid;
  grid-template-columns: 25% 60%;
}
.ship-container{ 
  display: grid;
  grid-template-columns: 25% 60%;
}
.profile{ 
  display: grid;
  grid-template-columns: 25% 60% ;
}
.state-drop{ 
  border-bottom-left-radius: 1px black;
  margin-trim: 1px black;
}
.products{
  height: auto;
  grid-gap: 40px 0px;
  margin: 39px auto 60px 0;
  display: grid;
  grid-template-columns: repeat(3, 33.333333333333336%);
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center;
}
.prod-info{ 
  width: 213px; 
  min-height: 117px; 
  background-size: auto;
  background-color: #e5e5e5;
  text-align: center;
  position: relative;
  text-align: center;
  margin: -56px auto 0;
  font-size: 1rem;
  line-height: 1.6;
  padding: 15px 15px 15px 15px;
}
.shopping-cart-container{
  min-height: 500px;
  width: 720px;
  margin: 0 auto;
  box-sizing: border-box;
  color: white;
  border: white;
}
.cart-table{
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 375px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  display: grid;
  grid-template-columns: 65% 15% 15% 15%;
  border: white;
  background-color: #e5e5e5;
}
.acct-container{
  text-align: left;
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 439px;
  height: auto;
  width: 720px;
  margin: 60px auto 60px 0;
  line-height: 1.6;
  margin-left: 14%;
  margin-right: 4%;
}
.cart-img{
  height: 90px;
  width: auto;
}
.small-rev{
  color: white;
}
.rev-image{
  height: 30px;
  width: auto;
}
.reviews{
  display: block;
  width: 400px;
  height: 600px;
  background-color: white;
}
.acct-view-revs{
  margin: 300px auto 60px 0;
}
.single-user-detail{
  width: 266px;
  min-height: 270px;
  background-image: none;
  margin: 10px auto;
  text-align: left;
  background-color: #e5e5e5;
  justify-content: center;
  padding: 55px 45px 45px 55px;
  line-height: 1.6;
}
.users-list{
  height: auto;
  grid-gap: 40px 0px;
  margin: 39px auto 60px 0;
  display: grid;
  grid-template-columns: repeat(3, 33.333333333333336%);
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center;
}